<%= render 'title' %>

<div class="write">
  <%= form_tag url_for(:controller => 'pages', :action => 'update'), :method => 'put' do %>
    <%= text_area_tag :content, nil, :autofocus => true, :placeholder => "Continue the story..." %>
    <div class="choice">
      <%= label_tag :choice1, "Choice 1" %><%= text_field_tag :choice1, nil, class: 'choice_box' %>
    </div>
    <div class="choice">
      <%= label_tag :choice2, "Choice 2" %><%= text_field_tag :choice2, nil, class: 'choice_box' %>
    </div>
    <div class="choice">
      <%= label_tag :choice3, "Choice 3" %><%= text_field_tag :choice3, nil, class: 'choice_box' %>
    </div>
    <%= submit_tag "Go!", :class => 'button' %>
  <% end %>
</div>
